
.Circlebluemain {

    width:18em;
    height: 18em;
    background-color: #3457b21a;
    border-radius: 50%;
    position:absolute;
    left: 30%;
    top:20%;
}

.Circlebluemain2 {

    width:32em;
    height: 32em;
    background-color:#3457b21a;
    border-radius: 50%;
    position: absolute;
    left: 60%;
    top: 20%;
     
}


