@media screen and (max-width: 576px) {
  .Circlebluemain {
    width: 4em;
    height: 4em;
    background-color: #3457b21a;
    border-radius: 50%;
    position: absolute;
  }

  .Circlepinkmain {
    width: 4%;
    height: 4%;
    background-color: #bc3a801a;
    border-radius: 50%;
    position: absolute;

    left: 10%;
  }

  .Circlebluemain2 {
    width: 4em;
    height: 4em;
    background-color: #3457b21a;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 17%;
  }

  .Navigation {
    margin-left: -2em;
  }

  .menuright {
    margin-left: -10em;
  }

  a {
    color: white;
  }

  .fotogirl {
    display: none;
  }

  .Text {
    margin-left: -6em;
    margin-top: -14em;
  }

  .Textlinks {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Textjoin {
    margin-top: -12em;
    margin-left: 4em;
  }

  .Form {
    margin-right: -2em;
  }
}

