.textform.container {

display: flex;
justify-content: center;
margin-top: 11em;
margin-left: 3em;
}

.Textjoin {
   display: flex;
   
   align-items: center;
   font-size: 1.3em;
   padding-right: 120px;
}

.Form {

height: 19em; 
width: 25em;  
background-color: #202027;
border-radius: 5%;
}

.form-control {

background-color: #202027;
border: 1px solid #2E3852;
}

label{

    margin-top: 5px;
}

Button {
    width: 31.5em;
    margin-left: 20px;
}

.pinktext{

    color: #bc3a80
}

.Circlepink {
    width:25em;
    height: 25em;
    background-color:#bc3a801a;
    border-radius: 50%;
    position:absolute;
    margin-left: -6em;
    margin-top: 10em;   
}

.Circleblue1 {
    width:22em;
    height: 22em;
    background-color: #3457b21a;
    border-radius: 50%;
    margin-left: 14em;
    position: absolute;
    margin-top: -8em;
    
      
}